<nav  style="background-color: #e3f2fd;">
  <a  href="#">Angular Sass Example</a>
  <form >
  <input  type="search" placeholder="Search" aria-label="Search">
  <button  type="submit">Search</button>
  </form>
  <button  type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span ></span>
  </button>
  <div  >
  <ul >
  <li >
  <a  href="#">Login <span >(current)</span></a>
  </li>
  <li >
  <a  href="#">Register</a>
  </li>
  </ul>
  </div>
  </nav>